<mat-grid-list cols="2">
    <mat-card class="hero-card">
        <mat-card-header>
            <mat-card-title>{{figthers.hero.name}}</mat-card-title>
            <mat-card-subtitle>Hero</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="figthers.hero.picture">
        <mat-card-content>
            <p>{{figthers.hero.powers}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="hero-card">
        <mat-card-header>
            <mat-card-title>{{figthers.villain.name}}</mat-card-title>
            <mat-card-subtitle>Villain</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="figthers.villain.picture">
        <mat-card-content>
            <p>{{figthers.villain.powers}}</p>
        </mat-card-content>
    </mat-card>
</mat-grid-list>

<mat-card-actions>
    <button mat-button>NEW FIGHTERS</button>
    <button mat-button>FIGHT</button>
</mat-card-actions>
