@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";

html, body {
    font-family: 'Open Sans', Arial, sans-serif;

    --quarkus-blue: #4695EB;
    --dark-blue: #09131E;
    --dark-blue-alt: #0D1C2C;
    --dark-blue-1: #205894;
    --white: white;

    --link: #1259A5;
    --link-dark-bg: #9BCAFA;
    --link-light-bg: #1259A5;
    --link-hover: --red;
    --link-visited: #1259A5;

    --cta-hover: var(--link-hover);

    --soft-yellow: #FDE9BF;
    --orange: #E37B40;
    --light-blue: #e4edf7;
    --red: #FF004A;
    --dark-red: #cc0000;
    --cta-blue: #0B58AB;

    --grey-0: #EFEFEF;
    --grey-1: #AAAAAA;
    --grey-2: #555555;
    --grey-3: #333333;
    --grey-4: #222222;
    --dark-grey: #4C4C4C;
    --light-grey: #DCDCDC;

    --border-radius: 10px;

    --site-margins: 13rem;
    --toc-width: 20rem;
}

body {
  margin: 10px;
}

p,
blockquote,
dt,
td.content,
span.alt {
    font-size: medium;
}

label {
    font-weight: normal;
}

i {
    padding-right: 0.5em;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 8px;
}

#header,
#content,
#footnotes {
    max-width: 90.5em;
}

#footer, footer {
    height: 42px;
    width: 100%;
    background-color: black;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding-left: calc(var(--toc-width) + var(--site-margins));
    padding-right: var(--site-margins);
    position: fixed;
    bottom: 0;
    right: 0
}

footer a:visited {
    color: white;
}

footer a {
    color: white;
}

/*There's a font override on these, which we need to de-override*/
.admonitionblock .title {
    font-size: 1rem !important;
    font-family: 'Open Sans', Arial, sans-serif !important;
}

.quoteblock blockquote,
.quoteblock blockquote,
td.content {
  font-size: 1.2em;
}

.assignment pre code {
  background-color: transparent;
}

.sidebarblock p,
.sidebarblock dt,
.sidebarblock td.content,
p.tableblock {
  font-size: 1em;
}

a[data-toggle='collapse'] {
  margin-bottom: 10px;
}

#toctitle,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    line-height: 1.1;
    color: black;
    font-weight: 600;
    padding: 2rem 0 0.45rem 0;
}

h3, h4, .h3, .h4 {
    border-bottom: 1px solid lightgray;
}

h1 {
    margin: .67em 0;
    font-size: 2em;
    font-weight: bold;
    padding: 3rem 0 0.7rem 0;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

li p {
    font-size: medium;
}

code {
    color: #c7254e;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.quoteblock blockquote:before {
    vertical-align: baseline;
}

.listingblock:hover .clipboard {
    display: block;
}

.title-band {
    background: var(--dark-blue-alt) !important;
    color: var(--white);
    position: relative;
    padding-top: 2.5rem;
    padding-bottom: 3rem;
    padding-left: var(--site-margins)

}

#toc.toc2 {
    width: var(--toc-width);
}

.content-area {
    margin-left: var(--site-margins);
    margin-right: var(--site-margins);
    display: flex;
    flex-direction: row;
    column-gap: 1em;

}

.mode {
    width: 50%;
    padding-top: 0em;
    padding-left: 4em;
    padding-right: 4em;
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right {
    border-left: 1px lightgrey solid;
}

.cta > .content {
    /*We could set a background or other styling for the CTA blocks here,
    but we also need to undo the default 'example' styling */
    background-color: white;
    border: 0 solid white;
    box-shadow: none;
    padding: 0;
}

button {
    color: var(--white);
    display: flex;
    justify-content: center;

    white-space: nowrap;

    background-color: var(--quarkus-blue);
    border-radius: var(--border-radius);
    border: var(--quarkus-blue);

    padding: 0.5rem 2rem;

    text-transform: uppercase;

}

button:visited {
    color: var(--white);
}

button:hover {
    color: var(--white);
    background-color: var(--dark-red);
    border: var(--dark-red);
}

.big {
    width: 95%;
    height: 60px;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 1em;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-underline {
    border: none;
}

.squish {
    margin-top: 0rem;
    padding-top: 0rem;
}

/*See here for the list of unicode codes for fontawesome*/
/*https://fontawesome.com/v5/cheatsheet*/

.cta::before {
    color: #cc0000;
    vertical-align: top;
    font-size: larger;
    font-family: "Font Awesome 5 Free", 'Open Sans', Arial, sans-serif;
    content: "\f135" " Time to code";
    display: inline-block;
    padding-right: 3px;
    padding-top: 7px;
    padding-bottom: 1.25em;
    font-weight: 900;
}

.clipboard {
  display: none;
  border: 0;
  font-size: .75em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 6px;
  color: #999;
  position: absolute;
  top: .425rem;
  right: .5rem;
  background: transparent;
}

code + .clipboard {
  top: 2rem !important;
}

.clipboard:hover, .clipboard:focus, .clipboard:active {
  outline: 0;
  background-color: #eee9e6;
}

.half-size {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

span.red.big {
  vertical-align: top;
}

pre code, pre pre {
  font-size: 14px;
}

ul.configurator {
    list-style-type: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
