/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.hero-card {
  max-width: 400px;
}

table {
  width: 100%;
}

.rounded {
  display: inline-block;
  position: relative;
  width: 80%;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.level {
  float: right;
  color: deeppink;
  font-weight: bold;
}

.hero-name {
  padding: 20px;
  background: dodgerblue;
  color: white;
}

.villain-name {
  padding: 20px;
  background: firebrick;
  color: white;
}

.watermark
{
  color:greenyellow;
  font-size:120px;
  transform:rotate(300deg);
  -webkit-transform:rotate(300deg);
}

.winner-text {
  font-weight: bold;
  font-size: large;
}

.winner {
  color: firebrick;
}
